#container{
    width:1024px;
    margin:0 auto;
}

.pop-up-notification{
    position:fixed;
    bottom:10px;
    right:10px;
    border-radius:10px;
    padding:20px;
    width: 300px;
    background-color:darkorange;
    color:darkred;
    display:none;
}

.square{
    width:50px;
    height:50px;
    margin:2px;
    display: inline-block;
    background-color: deepskyblue;
}